.form-text {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.question-text {
    /* Only border bottom */
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.form-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.form-btn:hover {
    background-color: #45a049;
}

.form-btn-small {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

.chat-question {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    width: 50%;
}

.chat-response {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    width: 50%;
}
